body {
    margin: 0;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lvdf_display {
    display: block;
    margin-top: auto;
}

.hover-effect {
    transition: background-color 0.3s;
    margin: 5px 0;
    max-width: 100%;
    width: 1200px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}

.hover-effect:hover::before {
    opacity: 1;
}